{% extends 'base.html' %}
{% block content %}
    <style>
        .form-container {
            padding: 30px;
            background-color: #ffffff;
            border-radius: 6px;
        }
    </style>
    {% for category, message in get_flashed_messages(with_categories=True) %}
        {% if message %}
            {% if category == "danger" %}
                <div class="alert alert-{{ category }} alert-dismissible fade show">
                    {{ message }}
                    <button data-bs-dismiss="alert" class="btn-close"></button>
                </div>
            {% else %}
                <div class="alert alert-danger alert-dismissible fade show">
                    {{ message }}
                    <button data-bs-dismiss="alert" class="btn-close"></button>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <div class="form-container">
        <form method="POST">
            {{ form.csrf_token }}
            <h4 class="border-bottom pb-2">
                {{ title }}
            </h4>
            <div class="form-group mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control form-control-sm", autofocus="") }}
            </div>
            <div class="form-group mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control form-control-sm") }}
            </div>
            <div class="form-check mb-3">
                {{ form.remember_me(class="form-check-input") }}
                {{ form.remember_me.label(class="form-check-label") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-sm") }}
            </div>
        </form>
    </div>
{% endblock %}