{% extends 'base.html' %}
{% block content %}
    <style>
        .form-container {
            padding: 30px;
            background-color: #ffffff;
            border-radius: 6px;
        }
    </style>
    {% for category, message in get_flashed_messages(with_categories=True) %}
        {% if message %}
            <div class="alert alert-{{ category }} alert-dismissible fade show">
                {{ message }}
                <button data-bs-dismiss="alert" class="btn-close"></button>
            </div>
        {% endif %}
    {% endfor %}
    <div class="form-container">
        <form method="POST">
            <h4 class="border-bottom pb-2">
                {{ title }}
            </h4>
                <div class="form-group mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" class="form-control form-control-sm" value="{{ todo_title }}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" name="description" class="form-control form-control-sm" value="{{ todo_description }}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select name="status" class="form-select form-select-sm">   
                        {% if todo_status == 0 %}
                            <option value="0" selected>In Progress</option>
                            <option value="1">Complete</option>
                        {% else %}
                            <option value="0">In Progress</option>
                            <option value="1" selected>Completed</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="priority" class="form-label">Priority</label>
                    <select name="priority" class="form-select form-select-sm">
                        {% if todo_priority == "Low" %}
                            <option value="Low" selected>Low</option>                    
                            <option value="High">High</option>
                        {% else %}
                            <option value="Low">Low</option>                    
                            <option value="High" selected>High</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group border-top pt-3">
                    <input type="submit" class="btn btn-primary btn-sm" name="submit" value="Submit" >
                    <a class="btn btn-secondary btn-sm" href="{{ url_for('todo.index') }}">Cancel</a>
                </div>
        </form>
    </div>
{% endblock %}